# Allow access to image files
<Files ~ "\.(jpg|jpeg|png|gif)$">
    Order allow,deny
    Allow from all
</Files>

# Deny access to PHP files
<Files ~ "\.php$">
    Order allow,deny
    Deny from all
</Files>